.head {
    margin: auto;
    font-family: 'Roboto';
    text-align: center;
}

.cent {
    border: 10px solid red;
    margin: auto;
    display: flex;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    max-width: 75%;
    height: auto;
}

.left-content {
    max-width: 75%;
    background-color: lightblue;
    font-family: 'Roboto';
}

#t-shirt {
    line-height: 0px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto';
    font-size: 36px;
    font-weight: 900;
}

#sponsor-logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    line-height: 0px;
}
.right-content > div {
    margin: 20px;
    display: flex;
}

.right-content {
    margin: 20px;
    align-content: center;
}

.donate {
    background-color: blue;
    margin: auto;
}

#donate, #donate-descript {
    text-align: center;
}

.button {
    margin: 0 auto;
    width: 100px;    
}