* {
    margin: 0;
    padding: 0;
  }

h1 {
   font-family: 'Oswald';
   font-size: 40px;
   margin: 10% 10% 15px 10%;
}

.size {
    font-family: 'Oswald';
}

p {
    line-height: 20px;
    font-size: 12px;
    font-family: 'Roboto';
    margin-right: 10%;
    padding: 10px;
}

#hosted {
    font-family: 'Roboto';
    margin: 0 10% 20px 10%;
}

.parent-pay {
    margin-left: 10%;
    text-align: left;
}
.pay {
    display: inline-block;
    align-content: center;
    margin-right: auto;
    margin-left: auto;
}

.doubs {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.left-content  {
    height: 100vh;
    float: left;    
}

.right-content {
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    height: auto;
}

.left-content, head {
    color: white;
    background-color: #333333;
}

.donate {
    margin-top: 10px;
}

#sponsor-logo {
    margin-top: 75px;
}

#order {
    font-family: "Oswald";
    font-size: 24px;
}

#donate {
    align-content: left;
    font-family: "Oswald";
    font-size: 24px;
}

.notes {
    margin-left: 0px;
    margin-top: 16px;
    font-size: 12px;
    color: lightgrey;
    position: absolute;
    bottom: 10px;
}



